<div id="calendarModalBackdrop" class="hidden"></div>
<div id="calendarModal" class="hidden">
  <div class="modal-dialog">
    <div class="modal-header">
          <h3>Edit Planner</h3>
          <button type="button" class="modal-close-button">&times;</button>
    </div>
      <select class="daySelect" id="daySelectDropdown">
        <option value="0">Sunday</option>
        <option value="1">Monday</option>
        <option value="2">Tuesday</option>
        <option value="3">Wednesday</option>
        <option value="4">Thurday</option>
        <option value="5">Friday</option>
        <option value="6">Saturday</option>
      </select>
        <div class="modal-body">
          <div class="content-input-element">
            <label for="content-text-input">Content text</label>
            <textarea id="content-text-input"></textarea>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="modal-cancel-button">Cancel</button>
          <button type="button" class="modal-accept-button">Change content</button>
        </div>

    </div>
</div>
