<footer class="container">
  {{#if hasSidebar}}
    <div class="with-sidebar">
      <p class="content">
        Copyright &copy; 2018
        <a href="https://github.com/philectron">Phi Luu</a>,
        <a href="https://github.com/calgag">Calvin Gagliano</a>,
        <a href="https://github.com/mitchell-schenk">Mitchell Schenk</a>
      </p>
    </div>
  {{else}}
    <p class="content">
      Copyright &copy; 2018
      <a href="https://github.com/philectron">Phi Luu</a>,
      <a href="https://github.com/calgag">Calvin Gagliano</a>,
      <a href="https://github.com/mitchell-schenk">Mitchell Schenk</a>
    </p>
  {{/if}}
</footer>
