<footer>
  Copyright &copy; 2018 <a href="https://github.com/philectron">Phi Luu</a>, <a href="https://github.com/mitchell-schenk">Mitchell Schenk</a>, <a href="https://github.com/calgag">Calvin Gagliano</a>
</footer>
