<article class="graph">
  <div class="graph-description">
    <p>{{description}}</p>
  </div>
  <div class="graph-area">
    <div style="background-color: rgb(0, 204, 153); width: {{percentageOf goal progress}}%; height: 2rem;"></div>
    <p class="graph-percent">{{percentageOf goal progress}}%</p>
  </div>
</article>
