<div class="modal-backdrop hidden"></div>
<div id="goal-modal" class="hidden">
  <div class="modal-dialog">
    <div class="modal-header">
      <div class="modal-tab-bar">
        <h3 class="modal-tab modal-tab-selected">Log Activity</h3>
        <h3 class="modal-tab">Create Goal</h3>
        <h3 class="modal-tab">Remove Goal</h3>
      </div>
      <button type="button" class="modal-close-button">&times;</button>
    </div>

    {{!-- modal-body must have the same ordering as modal-header --}}
    <div class="modal-body">
      <div class="modal-body-section">
        <select class="select-menu" id="log-activity-select" size="5">
          {{#each this}} {{> option}} {{/each}}
        </select>
        <div class="content-input-element">
          <p>Add </p>
          <input id="log-activity-progress-input" type="number" placeholder="Progress">
          <p>to your total progress</p>
        </div>
      </div>

      <div class="modal-body-section hidden">
        <div class="content-input-element noflex">
          <div class="input-field">
            <label for="create-goal-text-input">Activity description</label>
            <input id="create-goal-text-input" type="text" placeholder="Activity description">
          </div>
          <div class="input-field">
            <label for="create-goal-goal-input">Activity goal</label>
            <input id="create-goal-goal-input" type="number" placeholder="New goal">
          </div>
        </div>
      </div>

      <div class="modal-body-section hidden">
        <select class="select-menu" id="remove-goal-select" size="5">
          {{#each this}} {{> option}} {{/each}}
        </select>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="modal-cancel-button">Cancel</button>
      <button type="button" class="modal-accept-button">Accept</button>
    </div>
  </div>
</div>
