<div class="graph-container">
  <h2 class="graph-label">Your progress to becoming gym rat</h2>
  {{#if showTotalProgress}}
    {{> goal description='Total Progress' goal=totalProgress.goal progress=totalProgress.progress percentage=totalProgress.percentage}}
  {{/if}}
  {{#each user.goals}}
    {{> goal}}
  {{/each}}
</div>
