<div class="graph-container">
  <h2 class="graph-label">Your progress to becoming gym rat</h2>
  {{#if showTotalProgress}}
    {{#each user.totalProgress}}
      {{> goal}}
    {{/each}}
  {{/if}}
  {{#each user.goals}}
    {{> goal}}
  {{/each}}
</div>
