<header>
  <nav>
    <a class="navlink active" href="/">Home</a>
    <a class="navlink" href="/about">About</a>
    <a class="navlink" href="/stats">Stats</a>
    <a class="navlink" href="/leaderboard">Leaderboard</a>
  </nav>
  <i class="fas fa-dumbbell"></i><h1 class="site-title">GymRats</h1><i class="fas fa-dumbbell"></i>
  <div class="account-menu">
    <!-- TODO
    - Clickable
    - When clicked, drops down a menu
      + If user is signed in, then only show Log Out button (for now)
      + If user isn't signed in, then show Log In and Register buttons (for now)
    - Make it as smooth as possible
    -->
    THIS IS ACCOUNT MENU.
  </div>
</header>
