<header>
  <nav class="header-item">
    <a class="navlink active" href="/">Home</a>
    <a class="navlink" href="/about">About</a>
    <a class="navlink" href="/calendar">Calendar</a>
    <a class="navlink" href="/stats">Stats</a>
    <a class="navlink" href="/leaderboard">Leaderboard</a>
  </nav>
  <h1 class="header-item site-title"><a href="/"><i class="fas fa-dumbbell"></i> GymRats <i class="fas fa-dumbbell"></i></a></h1>
  <div class="header-item" id="account-menu">
    <span class="account-menu-item">Hello, {{name}}</span>
    <a class="account-menu-item">Sign out</a>
  </div>
</header>
