<header>
  <div class="navbar">
    <ul class="navlist">
      <li class="navlink" href="/">Home</li>
      <li class="navlink" href="/stats">Stats</li>
      <li class="navlink" href="/leaderboard">Leaderboard</li>
    </ul>
    <h1 class="site-title">GymRats</h1>
    <div class="account-menu">
      
    </div>
  </div>
</header>
