<head>
  <meta charset="utf-8">
  <title>GymRats</title>

  <!-- site's CSS -->
  <link rel="stylesheet" href="/style.css" media="screen">

  <!-- PT Serif (regular and bold) from Google Font -->
  <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700" rel="stylesheet">

  <!-- client-side JS -->
  <script defer src="/script.js" charset="utf-8"></script>

  <!-- Handlebars runtime library -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.js"></script>

  <!-- SVG icons from FontAwesome (https://fontawesome.com) -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
</head>
