<header>
  <nav class="header-item">
    <a class="navlink active" href="/">Home</a>
    <a class="navlink" href="/about">About</a>
    <a class="navlink" href="/calendar">Calendar</a>
    <a class="navlink" href="/stats">Stats</a>
    <a class="navlink" href="/leaderboard">Leaderboard</a>
  </nav>
  <h1 class="header-item site-title"><i class="fas fa-dumbbell"></i> GymRats <i class="fas fa-dumbbell"></i></h1>
  <div class="header-item" id="account-menu">
    <!-- TODO
    - Clickable
    - When clicked, drops down a menu
      + If user is signed in, then only show Log Out button (for now)
      + If user isn't signed in, then show Log In and Register buttons (for now)
    - Make it as smooth as possible
    -->
    This should be inside an account menu dropdown.
  </div>
</header>
