<div id="calendarModalBackdrop" class="hidden"></div>
<div id="homeModal" class="hidden">
  <div class="modal-dialog">
    <div class="modal-header">
          <h3>Log Activity</h3>
          <button type="button" class="modal-close-button">&times;</button>
    </div>
      <select class="daySelect" id="activityDropdown">
        {{#each this}}
          {{> option}}
        {{/each}}
      </select>
      <div class="modal-body">
        <div class="content-input-element">
          <label for="content-text-input">Enter an activity length</label>
          <textarea id="content-text-input"></textarea>
        </div>
      </div>
        <div class="modal-footer">
          <button type="button" class="modal-cancel-button">Cancel</button>
          <button type="button" class="modal-accept-button">Log Activity</button>
        </div>

    </div>
</div>
