<div id="calendarModalBackdrop" class="hidden"></div>
<div id="homeModal" class="hidden">
  <div class="modal-dialog">
    <div class="modal-header">
      <div class="modal-tab-bar">
        <h3 class="modal-tab modal-tab-selected">Log Activity</h3>
        <h3 class="modal-tab">Create Goal</h3>
      </div>
      <button type="button" class="modal-close-button">&times;</button>
    </div>

    <div id="modal-body">
      {{>modalLogActivity}}
    </div>
</div>
