<div class="modal-body">
  <div class="content-input-element">
    <label for="content-text-input">Enter a new goal</label>
    <textarea id="content-text-input"></textarea>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="modal-cancel-button">Cancel</button>
  <button type="button" class="modal-accept-button">Create Goal</button>
</div>
