<div id="newUserModal" class="hidden">
  <div class="modal-dialog">
    <div class="modal-header">
          <h3>Add a new user</h3>
          <button type="button" class="modal-close-button">&times;</button>
    </div>
    <div class="modal-body">
      <div class="username-input-element">
        <label for="username-text-input">Username</label>
        <textarea id="username-text-input"></textarea>
      </div>
      <div class="profimage-input-element">
        <label for="profimage-text-input">Profile picture</label>
        <textarea id="profimage-text-input"></textarea>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="modal-cancel-button">Cancel</button>
      <button type="button" class="modal-accept-button">Add User</button>
    </div>
  </div>
</div>
