<div class="sidebar">
  <!-- TODO -->
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>
  <p>This should be on the left half of the main body.</p>

</div>
