<div class="sidebar">
  <div class="content">
    <img class="user-profile-pic" src="{{user.profilePicUrl}}">
    <h2 class="user-name">{{user.name}}</h2>
    <ul class="goal-list">
      {{#each user.goals}}
        <li class="goal-item">{{description}}</li>
      {{/each}}
    </ul>

    <div id="user-drop">
      <h3>Change User</h3>
      <ul id="user-list">
        {{#each userList}}
          <li class="user-option">{{name}}</li>
        {{/each}}
        <li class="user-option" id="newUser">Add a new user...</li>
      </ul>
    </div>
  </div>
</div>
