<div class="sidebar">
  <div class="content">
    <img class="user-profile-pic" src="{{user.profilePicUrl}}">
    <h2 class="user-name">{{user.name}}</h2>
    <ul class="goal-list">
      {{#each user.goals}}
        <li class="goal-item">{{description}}</li>
      {{/each}}
    </ul>



    <div id="changeUser">
      <h3>Change User</h3>
      <div id="changeUserDrop">
        <div class="otherUser">Phi</div>
        {{#each this}}
          <div class="otherUser">{{name}}</div>
        {{/each}}
      </div>
    </div>
    
  </div>
</div>
