<div class="sidebar">
  <div class="sidebar-container">
    <img class="user-profile-pic" src="{{profilePicUrl}}">
    <h2 class="user-name">{{name}}</h2>
    <ul class="goal-list">
      {{#each goals}}
        <li class="goal-item">{{description}}</li>
      {{/each}}
    </ul>
  </div>
</div>
