<div class="sidebar">
  <div class="content">
    <img class="user-profile-pic" src="{{user.profilePicUrl}}">
    <h2 class="user-name">{{user.name}}</h2>
    <ul class="goal-list">
      {{#each user.goals}}
        <li class="goal-item">{{description}}</li>
      {{/each}}
    </ul>
  </div>
</div>
