<article class="graph">
  <div class="graph-description">
    <p>Total Progress</p>
  </div>
  <div class="graph-area">
    <div style="background-color:  rgb(204, 89, 28); width: {{sum this}}%; height: 2rem;"></div>
    <p class="graph-percent">{{sum this}}%</p>
  </div>
</article>
