<div class="rankContainer">
  <h1 class="rankName">{{name}}</h1>
  <div class="graph-container">
    <h2 class="graph-label">{{name}}'s weekly stats</h2>
    {{> totalProgress goals}}
    {{#each goals}}
      {{>goal}}
    {{/each}}
  </div>
