<div class="modal-backdrop hidden"></div>
<div id="user-modal" class="hidden">
  <div class="modal-dialog">
    <div class="modal-header">
      <div class="modal-tab-bar">
        <h3 class="modal-tab modal-tab-selected">Add a new user</h3>
      </div>
      <button type="button" class="modal-close-button">&times;</button>
    </div>

    <div class="modal-body">
      <div class="content-input-element noflex">
        <div class="input-field">
          <label for="username-text-input">Username</label>
          <input id="username-text-input" type="text" placeholder="Username">
        </div>
        <div class="input-field">
          <label for="profimage-text-input">Profile picture URL</label>
          <input id="profimage-text-input" type="text" placeholder="URL to profile picture">
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="modal-cancel-button">Cancel</button>
      <button type="button" class="modal-accept-button">Add User</button>
    </div>
  </div>
</div>
