<main class="container">
  <div class="content">
    <p style="color: black;">This is an exercise tracker created by Mitchell Schenk, Phi Luu, and Calvin Gagliano for their CS 290 final project
      at Oregon State University. Due June 14th, 2018. Links to their Githubs: </p>
    <ul style="color: black;">
      <li><a style="color: black;" href="https://github.com/philectron">Phi Luu</a></li>
      <li><a style="color: black;" href="https://github.com/mitchell-schenk">Mitchell Schenk</a></li>
      <li><a style="color: black;" href="https://github.com/calgag">Calvin Gagliano</a></li>
    </ul>


  </div>
</main>
