<main class="container">
  <div class="content text-bright-background">
    <h1>About the project</h1>
    <p>
      This website provides a way for users to plan, log, and evaluate their exercising progress throughout the week. Users can set goals on the home page, which can then be updated with their progress when they complete some work toward the goal. The calendar can aid the user in planing out their week, which is proves to be a helpful tool for working towards goals.
    </p>
    <p>
      Lastly, additional users can be added, and their progress can be kept track of on leaderboard.  Not intended to be an object of competition but rather a way for friends to motivate and each other toward meeting their weekly goals.
    </p>
    <h1>About our team</h1>
    <p>
  </div>
</main>
