<main class="container">
  <div class="content text-bright-background">
    <h1>About the project</h1>
    <p>
      GymRats is a web-based exercise tracking application which helps users make and stick to their workout plans.
    </p>
    <h1>About our team</h1>
    <p>

    </p>
  </div>
</main>
