<main class="about-container">
  <!-- May need to split this into separate partials if it gets too long -->
  <div class="content">
    This is the content of About. There should be no sidebar here.
    Add link to source code?
  </div>
</main>
