<main class="container">
  <div class="content">
    <p>This is the content of Calendar. The sidebar is optional and will be determined.</p>
  </div>

  {{> week days}}

  <button id="changePlannerButton"><i class="fas fa-plus"></i></button>
  {{> calendarModal}}
</main>
