<main class="container">
  {{> sidebar}}

  <!-- May need to split this into separate partials if it gets too long -->
  <div class="content">
    This is the content of Leaderboard. There should be no sidebar here.
  </div>

  <button id="create-goal-button"><i class="fas fa-plus"></i></button>
</main>
