<main class="leaderboard-container">
  {{> sidebar}}

  <!-- May need to split this into separate partials if it gets too long -->
  <div class="content">
    This is the content of Leaderboard. There should be no sidebar here.
  </div>
</main>
