<main class="container">
  {{> sidebar}}

  <!-- May need to split this into separate partials if it gets too long -->
  <div class="content">
    This is the content of stats. There should be a sidebar on the left.
  </div>
</main>
