/*******************************************************************************
 * General
 ******************************************************************************/

body,
html {
  margin: 0;
  padding: 0;
}

html {
  font-family: "PT Serif", Helvetica, sans-serif, Arial, monospace;
  font-size: 16px;
  line-height: 1.5;
}

body {}

/*
 * Links
 */

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

/*
 * Headings
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}

h1 {}

h2 {}

h3 {}

h4,
h5,
h6 {}

/*
 * Lists
 */

ol,
ul {}

li {}

/*
 * Images and videos
 */

img {}

video {}

/*******************************************************************************
 * Site's header
 ******************************************************************************/

header {
  background-color: orange;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header-item {
  align-self: center;
  flex-grow: 1;
}

/*
 * Navigation bar and links
 */

nav {}

.navlink {
  display: inline-block;
}

.navlink.active {}

/*
 * Site's title
 */

.site-title {
  margin: 0;
  padding: 0;
  text-align: center;
}

.site-title i {}

/*
 * Account menu and its dropdown list
 */

#account-menu {
  text-align: right;
}

/*******************************************************************************
 * Site's main body
 ******************************************************************************/

.container {
  display: flex;
  flex-direction: row;
}

/*
 * Sidebar on the left half of the main body
 */

.sidebar {
  background-color: silver;
  flex: 1 0 20%;
}

/*
 * Main content of body
 */

.content {
  background-color: gold;
  flex: 2 0 80%;
}

/*
 * Goal button
 */

#create-goal-button {
  position: fixed;
  right: 3em;
  bottom: 3em;
}

/*******************************************************************************
 * Site's footer
 ******************************************************************************/

footer {
  background-color: crimson;
  bottom: 1em;
}
