/*******************************************************************************
 * General
 ******************************************************************************/

body,
html {
  margin: 0;
  padding: 0;
}

html {
  background-color: #fff;
  font-family: "PT Serif", Helvetica, sans-serif, Arial, monospace;
  font-size: 16px;
  line-height: 1.5;
}

body {}

/*
 * Links
 */

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

/*
 * Headings
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}

h1 {}

h2 {}

h3 {}

h4,
h5,
h6 {}

/*
 * Lists
 */

ol,
ul {}

li {}

/*
 * Images and videos
 */

img {}

video {}

/*******************************************************************************
 * Site's header
 ******************************************************************************/

header {
  align-items: center;
  background-color: orange;
  display: flex;
  height: 3rem;
  padding: 0 2rem;
}

.header-item {
  flex: 1;
}

/*
 * Navigation bar and links
 */

.navlink {
  display: inline-block;
  margin: 0 .5rem;
  padding: 0 .5rem;
}

.navlink.active {
  box-shadow: inset 0 -3px black;
}

/*
 * Site's title
 */

.site-title {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

.site-title a {
  color: inherit;
  text-decoration: none;
}

/*
 * Account menu and its dropdown list
 */

#account-menu {
  text-align: right;
}

.account-menu-item {
  margin: 0 1rem;
}

/*******************************************************************************
 * Site's main body
 ******************************************************************************/

/*
 * Different types of containers for different routes
 */

.container {
  display: flex;
}

.error-container {
  font-size: 2rem;
  text-align: center;
}

/*
 * Sidebar on the left half of the main body
 */

.sidebar {
  background-color: silver;
  flex: 0 1;
}

.sidebar-container {
  padding: 1rem;
}

.sidebar-container>.user-profile-pic {
  border-radius: 50%;
  width: 90%;
  margin: 0 auto;
}

.sidebar-container>.user-name {
  margin: 0 auto;
}

/*
 * Main content of body
 */

.content {
  background-color: lightgray;
  flex: 4;
}

/*
 * Bar charts and progress bars
 */

.graph-container {
  background-color: gold;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: 1rem 3rem;
}

.graph-label {
  align-self: center;
  margin-bottom: .5rem;
  margin-top: .5rem;
  text-align: center;
}

.graph {
  margin: 10px 20px;
}

.graph-description {
  float: left;
  margin-right: .5rem;
  text-align: left;
  width: 7rem;
}

.graph-description p {
  margin: 0;
  padding: 0;
}

.graph-area {
  align-items: center;
  display: flex;
  flex: 4;
}

.graph-percent {
  margin: 0 0 0 .5rem;
}

/*
 * Goal button
 */

#create-goal-button {
  background-color: red;
  border-radius: 50%;
  border: none;
  bottom: 3rem;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, .5);
  height: 4rem;
  position: fixed;
  right: 3rem;
  width: 4rem;
}

#create-goal-button:hover {
  background-color: black;
  cursor: pointer;
}

#create-goal-button:active {
  transform: scale(.9);
}

#create-goal-button svg {
  color: #fff;
  font-weight: 100;
  height: 1.5rem;
  width: 1.5rem;
}

/*******************************************************************************
 * Site's footer
 ******************************************************************************/

footer {
  background-color: crimson;
}

footer>a {
  color: inherit;
}
